nav {
  height: 100px;
}

.logo-highlight {
  color: #395eca;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.btn {
  border: none;
  color: #7c7c7c;
}

.nav-link {
  border: none;
  background: inherit;
  color: #000;
}
